<!-- FORM: START -->
  <main class="form-signin">
    <form>
      <h1 class="h3 mb-3 fw-normal">Sign In</h1>
      <p>Welcome to OnlyPans, your one stop shop for holiday recipes.</p>
      <small>Don't have an account? <a href="#">Sign Up</a></small>

      <div class="form-floating mb-3 mt-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <!-- TODO: Change the href here so that it swaps to home page after authentication -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </main>
  <!-- FORM: END -->
  

  <!-- SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


